.contacts {
  height: 717px;
  margin-top: 150px;
  background-color: var(--title__color__alt);
}

.contacts .container {
  position: relative;
  height: 100%;
  padding-top: 0;
  overflow: hidden;
}

.contacts__img {
  position: absolute;
  right: -44px;
  top: 20px;
  height: 90%;
}

.contacts p {
  width: 553px;
  margin-top: 100px;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
}

.contacts__inner {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.input {
  box-sizing: border-box;
  width: 567px;
  padding: 16px 0 15px 40px;
  border: none;
  background: #3b3d3b;
  border-radius: 1000px;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

input:focus {
  outline: none;
}

.contacts__btn {
  width: 450px;
  margin-top: 60px;
  padding: 19px 19px 22px 20px;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
}
