footer {
  margin: -25px auto;
  background: var(--text__color);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

footer .container {
  padding-top: 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__data {
  display: flex;
  flex-direction: column;
  gap: 66px;
  padding-top: 76px;
  padding-bottom: 24px;
}

.footer__title {
  color: var(--title__color__alt);
}

.footer__rights {
  color: var(--title__color__alt);
  opacity: 0.5;
}

.footer__links {
  display: flex;
  gap: 24px;
}

.footer__links-item a {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: var(--title__color__alt);
}

.footer__links-item a:hover {
  color: var(--title__color);
}
