.skills h3 {
  width: 403px;
  color: var(--title__color__alt);
}

.skills__item-list {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 74px;
}

.skills__item img {
  width: 100%;
  border-radius: 30px;
}

.skills__data-inner {
  display: flex;
  justify-content: space-between;
}

.skills__data {
  box-sizing: border-box;
  padding: 40px 62px 40px 40px;
  background-color: var(--text__color);
  border-radius: 30px;
}

.skills__data p {
  width: 525px;
  color: var(--title__color);
  font-size: 22px;
  line-height: 29px;
}

.skills__data h2 {
  width: 440px;
  color: var(--text__color__alt);
  font-weight: 400;
  font-size: 55px;
  line-height: 61px;
}

@media (max-width: 1199px) {
  .skills h3 {
    width: 326px;
  }

  .skills__item-list {
    margin-top: 60px;
    gap: 32px;
  }

  .skills__data {
    box-sizing: border-box;
    padding: 32px 51px 55px 47px;
  }

  .skills__data p {
    width: 425px;
    font-size: 18px;
    line-height: 23px;
  }

  .skills__data h2 {
    width: 380px;
    font-size: 45px;
    line-height: 50px;
  }
}

@media (max-width: 767px) {
  .skills h3 {
    max-width: 100%;
  }

  .skills__item-list {
    gap: 60px;
  }

  .skills__data-inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .skills__data {
    padding: 30px 23px 67px 21px;
  }

  .skills__data p {
    width: 100%;
    font-size: 18px;
    line-height: 23px;
  }

  .skills__data h2 {
    width: 100%;
    font-size: 35px;
    line-height: 39px;
  }
}
