.skills h3 {
  width: 403px;
  color: var(--title__color__alt);
}

.skills__data {
  box-sizing: border-box;
  padding: 40px 62px 40px 40px;
  background-color: var(--text__color);
  border-radius: 30px;
}

.skills__data p {
  width: 525px;
  color: var(--title__color);
  font-size: 22px;
  line-height: 29px;
}

.skills__data h2 {
  width: 440px;
  color: var(--text__color__alt);
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 55px;
  line-height: 61px;
}

.skill__item-list {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 74px;
}

.skills__item img {
  width: 100%;
  border-radius: 30px;
}

.skills__data-inner {
  display: flex;
  justify-content: space-between;
}
